
      body {
        background-color: rgb(25, 25, 25);
        color: white;
        font-family: Arial;
      }
      .move-icon {
        height: 50px;
      }
      .move-button {
        background-color: transparent;
        height: 120px;
        width: 120px;
        border-radius: 60px;
        border-color: white;
        border: 3px solid white;
        margin-right: 10px;
        cursor: pointer;
      }
      .move1 {
        height: 50px;
      }
      .reset{
        margin-bottom:30px;
        margin-top: 10px;
        padding: 15px;
        font-family: Arial;
        font-weight: bolder;
      }
    